@font-face {
	font-family: 'helv';
	src: url('../font/helvbld.eot');
	src: local('☺'), url('../font/helvbld.woff') format('woff'), url('../font/helvbld.ttf') format('truetype'), url('../font/helvbld.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}