body {
	background: black;
}

* { @include unselectable; }
p { cursor: default; }

#content {
	width: 100%;
	height: 100vh;
	font-family: 'helv';
	color: white;
	font-size: 14px;
	line-height: 15px;
	overflow: hidden;

	a { color: white; }
	a:hover { color: darken(white, 40%); }

	.ui {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		opacity: 0;

		.logo {
			width: 167px;
			height: 23px;
			background: url(../images/brand.png) no-repeat 0 0;
			position: absolute;
			top: 50px; left: 50px;
		}
		.download{
			width: 100px;
			height: 60px;
			position: absolute;
			top: 50%; left: 50px;
			margin-top: -30px;
			z-index: 1;

			.download-wrp {
				width: 100%;
				height: 100%;
				position: relative;

				.full {
					width: 100%; height: 100%;
					position: absolute; top: 0; left: 0;
					z-index: 2;
				}

				p {
					width: 100%;
					display: block;
					@include expo;

					span {
						color: darken(white, 40%);
					}
				}
			}

			&:hover {
				.download-wrp {
					p:nth-child(2) {
						transform: translate3d(30px, 0, 0);
						-webkit-transform: translate3d(30px, 0, 0);
					}
					p:nth-child(3) {
						transform: translate3d(25px, 0, 0);
						-webkit-transform: translate3d(25px, 0, 0);
					}
					p:nth-child(4) {
						transform: translate3d(20px, 0, 0);
						-webkit-transform: translate3d(20px, 0, 0);
					}
					p:nth-child(5) {
						transform: translate3d(10px, 0, 0);
						-webkit-transform: translate3d(10px, 0, 0);
					}
				}
			}

		}

		.share-cover {
			width: 110px;
			height: 35px;
			position: absolute;
			top: 50%; right: 50px;
			margin-top: -(35px / 2);
			cursor: pointer;

			.sc-wrp {
				width: 100%;
				height: 100%;

				p {
					width: 100%;
					display: block;
					@include expo;
					text-align: right;

					span {
						color: darken(white, 40%);
					}
				}
			}

			&:hover {
				.sc-wrp {
					p:nth-child(1) {
						transform: translate3d(-20px, 0, 0);
						-webkit-transform: translate3d(-20px, 0, 0);
					}

					p:nth-child(2) {
						transform: translate3d(-10px, 0, 0);
						-webkit-transform: translate3d(-10px, 0, 0);
					}
				}
			}

		}

		nav {
			@extend %widthauto;
			position: absolute;
			bottom: 50px; left: 50px;
			z-index: 1;

			ul li {
				@include expo;

				&:hover {
					padding: 10px 0;
				}

			}
		}

		.sound-button {
			width: 14px;
			height: 14px;
			background: url(../images/icon-sound.png) no-repeat 0 0;
			position: absolute;
			top: 50px; right: 50px;
			z-index: 1;
			cursor: pointer;

			&.paused {
				opacity: 0.6;
			}

		}

	}

	.cover-art {
		width: 100%;
		height: 100vh;
		z-index: 0;
		overflow: hidden;

		.lettering {
			width: 930px;
			height: 270px;
			position: absolute;
			@include centerObj(930, 270);
			z-index: 1;

			.lettering-wrp {
				width: 100%;
				height: 100%;
				position: relative;

				#title {
					transform: scale(4);
					-webkit-transform: scale(4);
					position: absolute;
					top: 126px; left: 348px;

					path {
						stroke: white;
						stroke-width: 3.8px;
						stroke-linecap: round;
						stroke-linejoin: round;
						stroke-dasharray: 300px;
						stroke-dashoffset: 300px;
					}
				}
				.ep-sign {
					width: 42px;
					height: 28px;
					font-size: 32px;
					line-height: 35px;
					position: absolute;
					top: 30px; right: 30px;
					opacity: 0;
				}
			}
		}

		.circle {
			width: 1163px;
			height: 1163px;
			background: url(../images/circ-bg.png) no-repeat 0 0;
			position: absolute;
			@include centerObj(1163, 1163);
			opacity: 0;
		}

	}

	.share-cover-elements {
		width: 100%;
		height: 100vh;
		overflow: hidden;
		position: absolute;
		top: 0; left: 0;
		display: none;
		perspective: 1000px;

		* {
			opacity: 0;
			@include expo;
		}

		.logo-black {
			width: 167px;
			height: 23px;
			background: url(../images/brand-black.png) no-repeat 0 0;
			position: absolute;
			top: 50px; left: 50px;
			z-index: 1;
		}

		.close-button,
		.tip,
		.fb-login-button,
		.fb-post-button,
		.canvas-message--edit {
			@extend %widthauto;
			position: absolute;
			color: black;
			height: 15px;
			cursor: pointer;
			z-index: 1;
		}

		.close-button {
			top: 50px; right: 50px;
			text-align: right;
			&:hover {
				transform: translate3d(-10px, 0, 0);
				-webkit-transform: translate3d(-10px, 0, 0);
			}
		}

		.fb-login-button,
		.fb-post-button {
			width: 150px;
			top: 50%; right: 10%;
			text-transform: uppercase;

			&:hover {
				transform: translate3d(-10px, 0, 0);
				-webkit-transform: translate3d(-10px, 0, 0);
			}

		}

		.fb-post-button { 
			display: none;
			opacity: 0;
			span {
				color: darken(white, 40%);
				opacity: 1 !important;
				text-transform: uppercase;
			}
		}

		.tip {
			top: 50%; left: 10%;
			cursor: default;
		}

		.canvas-wrapper,
		.canvas-pic-shoot-fx,
		.canvas-loading-display,
		.canvas-message {
			width: 800px;
			height: 800px;
			position: absolute;
			@include centerObj(800, 800);
		}

		.canvas-pic-shoot-fx {
			background: white;
			z-index: 1;
			display: none;
		}

		.canvas-loading-display {
			background: url(../images/canvas-loading-bg.png);
			z-index: 1;
			display: none;
			
			.loading {
				width: 20px;
				height: 20px;
				position: absolute;
				@include centerObj(20, 20);
				z-index: 5;
				background: url(../images/350.gif) no-repeat 0 0;
				opacity: 1 !important;
			}

		}

		.canvas-message--edit {
			width: 150px;
			top: 42%; right: 10%;
			text-transform: uppercase;
			display: none;

			&:hover {
				transform: translate3d(-10px, 0, 0);
				-webkit-transform: translate3d(-10px, 0, 0);
			}
		}

		.canvas-message {
			background: url(../images/canvas-loading-bg.png);
			z-index: 1;
			display: none;

			.msg-wrp {
				width: 100%;
				height: 100%;
				position: relative;
				opacity: 1 !important;

				.canvas-message--ok {
					width: 50px;
					height: 50px;
					background: transparent;
					border: none;
					color: white;
					font-size: 20px;
					position: absolute;
					bottom: 50px; right: 50px;
					z-index: 2;
					cursor: pointer;
					padding-top: 10px;
					border-radius: 50px;
					opacity: 1 !important;

					&:hover{
						background: darken(white, 30%);
					}

				}
	
				textarea {
					width: 50%;
					height: 100%;
					padding: 40px;
					font-size: 28px;
					line-height: 38px;
					color: white;
					@include inputPlaceholder(darken(white, 30%));
					background: transparent;
					box-sizing: border-box;
					-webkit-box-sizing: border-box;
					border: none;
					outline: none;
					opacity: 1 !important;
				}

			}

		}

		.canvas-wrapper {
			background: black;

			canvas {
				position: relative;
				opacity: 1;
				cursor: url(../images/cursor-marker.png), default;
				backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
			}

		}

		#share-cover-bg { display: none; }

	}

	.privacy-policy-link {
		position: absolute;
		bottom: 40px; right: -20px;
		z-index: 9999;
		transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);

		a {
			font-size: 9px;
			font-weight: normal;
			text-transform: uppercase;
			color: black;
			text-decoration: none;
		}

	}


}
